body {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  margin: 0;
  gap: 0;
}
.timeline-header {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.timeline-header > .controls > * {
  margin: 0.25em 0;
}
.timeline-header > .controls > input#date {
  border: none;
  font-weight: bold;
  text-align: center;
  padding: 0 0;
  width: 100%;
}
.timeline-header > .controls > .buttons {
  display: flex;
  flex-direction: row;
}
.timeline-header > .controls > .buttons > button {
  flex-grow: 1;
  background: none;
  border: none;
}
.timeline-header > .controls > .buttons > button:active {
  background: grey;
  border-radius: 0.5em;
}
.timeline-header > .controls > .options {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.5em;
}
.timeline-header > .controls > .options select {
  border: none;
  background: none;
}
.timeline-header > .controls > .options select:active {
  background: grey;
  border-radius: 0.5em;
}

.timeline-header > #timeline {
  width: 100%;
}
#map {
  height: 100%;
  width: 100%;
}
.overpass-layer-icon > img,
.overpass-layer-icon > svg {
  display: block;
}
.overpass-layer-icon div.sign {
  position: relative;
  font-size: 12px;
  text-align: center;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
}
.leaflet-popup-content {
  width: 400px;
}
