body {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 0;
}
#timeline {
}
#map {
  height: 100%;
  width: 100%;
}
#controls {
  height: 2em;
}
