body {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  margin: 0;
  gap: 0;
}
.timeline-header {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.timeline-header > .controls {
}
.timeline-header > #timeline {
  width: 100%;
}
#map {
  height: 100%;
  width: 100%;
}
.leaflet-div-icon {
  border: none;
  background: none;
}
