body {
  position: absolute;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: min-content auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  gap: 0;
}
.timeline-header {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  width: 100%;
  display: flex;
  background: white;
  flex-direction: row;
}
.timeline-header > .controls > * {
  margin: 0.25em 0;
}
.timeline-header > .controls > input#date {
  border: none;
  font-weight: bold;
  text-align: center;
  padding: 0 0;
  width: 100%;
}
.timeline-header > .controls > .buttons {
  display: flex;
  flex-direction: row;
}
.timeline-header > .controls > .buttons > button {
  flex-grow: 1;
  background: none;
  border: none;
}
.timeline-header > .controls > .buttons > button:active {
  background: grey;
  border-radius: 0.5em;
}
.timeline-header > .controls > .options {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.5em;
}
.timeline-header > .controls > .options select {
  border: none;
  background: none;
}
.timeline-header > .controls > .options select:active {
  background: grey;
  border-radius: 0.5em;
}

.timeline-header > #timeline {
  width: 100%;
}
#map {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  height: 100%;
  width: 100%;
}
.overpass-layer-icon > img,
.overpass-layer-icon > svg {
  display: block;
}
.overpass-layer-icon div.sign {
  position: relative;
  font-size: 12px;
  text-align: center;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
}
.leaflet-popup-content {
  width: 400px;
}

.leaflet-bar {
  font-size: 20px;
}

/** Sidebar **/
aside {
  display: none;
}
.sidebar-active {
  grid-template-columns: max(30%, 350px) auto;
  grid-template-rows: min-content auto;
}
.sidebar-active aside {
  box-sizing: border-box;
  position: relative;
  display: block;
  resize: horizontal;
  background: white;
  border-right: 1px solid black;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}
.sidebar-active aside > .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
}
.sidebar-active .timeline-header {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}
.sidebar-active #map {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
aside > .resizer {
  top: 50%;
  right: 0;
  position: absolute;
  translate: 50%;
  z-index: 10000;
  padding: 1em 3px;
  background: grey;
  border: 1px solid black;
  border-radius: 10px 10px 10px 10px;
  cursor: ew-resize;
}

@media (max-width: 600px) {
.sidebar-active {
  grid-template-columns: auto;
  grid-template-rows: min-content auto auto;
}
.sidebar-active aside {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  border-right: none;
  border-top: 1px solid black;
}
.sidebar-active .timeline-header {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
.sidebar-active #map {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}
aside > .resizer {
  left: 50%;
  top: inherit;
  right: inherit;
  padding: 3px 1em;
  cursor: ns-resize;
  translate: 0 -50%;
}
}

/** /Sidebar **/
